{% extends "layout.html" %}
{% block title %}UWI Stats App{% endblock %}
{% block page %}UWI Stats App{% endblock %}

{{ super() }}
{% block content %}
    {% if is_authenticated %}
        <p> Welcome to the dashboard {{current_user.username}} </p>

        <p>Welcome to StatPlatform! 📊
            Your go-to hub for data-driven insights, analysis, and smart decision-making.
            
            At StatPlatform, we bring statistics to life—whether you're a researcher, business analyst, student, or data enthusiast. From powerful data visualization tools to advanced statistical modeling, our platform helps you explore trends, uncover patterns, and make sense of complex information with ease.
            
            Join us and start turning your data into action. Let’s make numbers work for you!</p>


        <div class="row">
            <div class="column" style="background-color:#aaa;">
              <h2>Upload Sheet </h2>
              <p>Some text..</p>
            </div>
            <div class="column" style="background-color:#bbb;">
              <h2>Generate Report</h2>
              <p>Some text..</p>
            </div>
            <div class="column" style="background-color:#ccc;">
              <h2> View Report</h2>
              <p>Some text..</p>
            </div>
          </div>
          
    {% endif %}
{% endblock %}